fastapi
uvicorn
python-multipart
pymongo
pydantic
python-dotenv
httpx
pandas
Pillow
reportlab
jinja2
aiofiles

passlib[bcrypt]
python-jose[cryptography]
bcrypt
twilio
google-genai
cloudinary
email-validator
