fastapi
uvicorn
python-multipart
pymongo
pydantic
python-dotenv
opencv-python
ultralytics
numpy
pandas
Pillow
reportlab
jinja2
aiofiles

passlib[bcrypt]
python-jose[cryptography]
bcrypt